.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}

.open {
    opacity: 1;
    pointer-events: all;
}

.modal {
    background-color: yellowgreen;
    width: 300px;
    padding: 20px;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    & > *:first-child {
        font-weight: bold;
    }
}

.education {
    font-weight: normal;
    margin: 0;
    list-style: none;
    text-align: right;
}
