:root {
    --primary-color-values: 255, 215, 127;
    --primary-color: rgb(var(--primary-color-values));
    --primary-hover-color: #fec30d;
    --bg-color: #000;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

.intro {
    position: fixed;
    inset: 0;
    background-color: var(--primary-hover-color);
    z-index: 100;
    animation: hide-intro 2s 1 8s ease-in forwards;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px 100px;
    background-color: var(--primary-hover-color);
    color: #000;
    border-bottom: 2px solid var(--primary-hover-colorcolor);
    z-index: 1;

    &.scrolled {
        background-color: #000;
        color: var(--primary-hover-color);
    }
}

.icons {
    display: flex;
    gap: 25px;
    cursor: pointer;

    & > *{
        transition: all 0.5s;

        &:hover{
            color: var(--primary-color);
            transform: scale(1.5);
        }
    }
}

.links {
    display: flex;
    gap: 30px;
    position: fixed;
    top: 0;
    right: 100px;
    padding: 40px;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}
.arrows {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--primary-hover-color);
    animation: arrowDown 1s ease-in infinite;
}

.arrow {
    font-size: 3rem;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-color);
    font-size: 10rem;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-weight: bold;
    animation: mash 2s 1 6s;
    white-space: nowrap;

    span {
        display: inline-block;
        animation-name: dropLetter;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
                animation-delay: (random() * 2.5s) + 1s;
            }
          }
    }
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--bg-color);
    animation: expand-dot 2s 1 ease-in 6.5s both;
}

@keyframes arrowDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -50%, 0)
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes dropLetter {
    0% {
        transform: translateY(calc(-50vh - 50%));
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mash {
    from {
        letter-spacing: 0;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        letter-spacing: -10rem;
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes expand-dot {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 150vmax;
        height: 150vmax;
    }
}

@keyframes hide-intro {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}